# Compiled files
*.class
*.log

# Build directories (Maven, Gradle, SBT)
target/
build/
.gradle/
project/target/
project/project/
.metals/
.bloop/

# VS Code
.vscode/
out/
bin/
# IntelliJ IDEA
.idea/
*.iml
*.iws

# Mac OS
.DS_Store
